Data Processing

In [48]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler

In [49]:
# Load the dataset
data = pd.read_csv('merged_data.csv')  # Replace with the actual path to your dataset

# Display the first few rows to inspect the structure
print(data.head())

# Show basic information about the dataset
print(data.info())

# Summarize numerical columns with descriptive statistics
print(data.describe())

# Check for missing or invalid values
print(data.isnull().sum())  # Count of NaN values in each column

      #YY   MM   DD   hh    mm  WDIR  WSPD  GST  WVHT   DPD  ...    PRES  \
0     NaN  NaN  NaN  NaN   NaN   NaN   NaN  NaN   NaN   NaN  ...     NaN
1  2020.0  1.0  1.0  0.0   0.0  69.0   5.5  7.1   1.3  14.3  ...  1014.4
2  2020.0  1.0  1.0  0.0  10.0  64.0   4.5  5.5  99.0  99.0  ...  1014.4
3  2020.0  1.0  1.0  0.0  20.0  63.0   4.7  5.8  99.0  99.0  ...  1014.5
4  2020.0  1.0  1.0  0.0  30.0  72.0   5.1  6.4  99.0  99.0  ...  1014.6

   ATMP   WTMP   DEWP   VIS  TIDE  WDI  R WSP  D GST  WSP
0   NaN    NaN    NaN   NaN   NaN  NaN    NaN    NaN  NaN
1  26.7   28.1  999.0  99.0  99.0  NaN    NaN    NaN  NaN
2  26.6  999.0  999.0  99.0  99.0  NaN    NaN    NaN  NaN
3  26.9  999.0  999.0  99.0  99.0  NaN    NaN    NaN  NaN
4  27.0  999.0  999.0  99.0  99.0  NaN    NaN    NaN  NaN

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206920 entries, 0 to 206919
Data columns (total 22 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   #YY     206916 non-null  float64
 1   MM      206916 non-null  float64
 2   DD      206916 non-null  float64
 3   hh      206916 non-null  float64
 4   mm      206916 non-null  float64
 5   WDIR    154341 non-null  float64
 6   WSPD    45894 non-null   float64
 7   GST     52451 non-null   float64
 8   WVHT    206916 non-null  float64
 9   DPD     206916 non-null  float64
 10  APD     206916 non-null  float64
 11  MWD     206916 non-null  float64
 12  PRES    206916 non-null  float64
 13  ATMP    206916 non-null  float64
 14  WTMP    206916 non-null  float64
 15  DEWP    206916 non-null  float64
 16  VIS     206916 non-null  float64
 17  TIDE    206916 non-null  float64
 18  WDI     50798 non-null   float64
 19  R WSP   50798 non-null   float64
 20  D GST   154465 non-null  float64
 21  WSP     103667 non-null  float64
dtypes: float64(22)
memory usage: 34.7 MB
None
                 #YY             MM             DD             hh  \
count  206916.000000  206916.000000  206916.000000  206916.000000
mean     2021.499178       6.534478      15.678628      11.500976
std         1.122631       3.459940       8.812301       6.927320
min      2020.000000       1.000000       1.000000       0.000000
25%      2020.000000       4.000000       8.000000       5.000000
50%      2022.000000       7.000000      16.000000      12.000000
75%      2023.000000      10.000000      23.000000      18.000000
max      2023.000000      12.000000      31.000000      23.000000

                  mm           WDIR          WSPD           GST  \
count  206916.000000  154341.000000  45894.000000  52451.000000
mean       24.948723     106.932617      4.728368      5.482786
std        17.078810      55.102609      1.957963      2.661299
min         0.000000       0.000000      0.400000      0.000000
25%        10.000000      73.000000      3.000000      3.400000
50%        20.000000      91.000000      4.800000      5.600000
75%        40.000000     127.000000      6.400000      7.700000
max        50.000000     360.000000      8.600000      9.900000

                WVHT            DPD  ...           PRES           ATMP  \
count  206916.000000  206916.000000  ...  206916.000000  206916.000000
mean       84.020394      85.265117  ...    1015.679733      79.764778
std        35.205545      32.367547  ...      90.536069     220.153344
min         0.000000       3.400000  ...    1004.500000      21.000000
25%        99.000000      99.000000  ...    1013.300000      26.000000
50%        99.000000      99.000000  ...    1014.900000      27.200000
75%        99.000000      99.000000  ...    1016.400000      28.400000
max        99.000000      99.000000  ...    9999.000000     999.000000

                WTMP      DEWP       VIS      TIDE           WDI  \
count  206916.000000  206916.0  206916.0  206916.0  50798.000000
mean      836.141455     999.0      99.0      99.0    105.631974
std       362.770002       0.0       0.0       0.0     52.636406
min        23.100000     999.0      99.0      99.0      0.000000
25%       999.000000     999.0      99.0      99.0     76.000000
50%       999.000000     999.0      99.0      99.0     88.000000
75%       999.000000     999.0      99.0      99.0    119.000000
max       999.000000     999.0      99.0      99.0    999.000000

              R WSP          D GST            WSP
count  50798.000000  154465.000000  103667.000000
mean       5.474962       6.916086       5.247688
std        2.739062       3.801762       2.192754
min        0.000000       0.000000       0.000000
25%        3.500000       4.700000       3.400000
50%        5.700000       7.000000       5.400000
75%        7.400000       8.900000       7.100000
max       99.000000      99.000000       9.900000

[8 rows x 22 columns]
#YY           4
MM            4
DD            4
hh            4
mm            4
WDIR      52579
WSPD     161026
GST      154469
WVHT          4
DPD           4
APD           4
MWD           4
PRES          4
ATMP          4
WTMP          4
DEWP          4
VIS           4
TIDE          4
WDI      156122
R WSP    156122
D GST     52455
WSP      103253
dtype: int64

In [50]:
columns_to_keep = ['#YY', 'MM', 'DD', 'ATMP', 'WTMP', 'WVHT']
data = data[columns_to_keep]
# Drop the first row from the DataFrame
data = data.iloc[1:].reset_index(drop=True)
# Display the DataFrame to verify
print(data.head())

      #YY   MM   DD  ATMP   WTMP  WVHT
0  2020.0  1.0  1.0  26.7   28.1   1.3
1  2020.0  1.0  1.0  26.6  999.0  99.0
2  2020.0  1.0  1.0  26.9  999.0  99.0
3  2020.0  1.0  1.0  27.0  999.0  99.0
4  2020.0  1.0  1.0  27.0  999.0  99.0

Fill NA and extreme value

In [51]:
# Fill in invalid data for WTMP
# Filter the data to exclude invalid values (999) and calculate the average
filtered_data = data[data['WTMP'] != 999]
average_wtmp = filtered_data['WTMP'].mean()

# Replace invalid values (999) and NaN with the average
data['WTMP'] = data['WTMP'].replace(999, average_wtmp).fillna(average_wtmp)
print("Invalid WTMP values have been replaced with the average.")

# Fill in invalid data for ATMP
# Filter the data to exclude invalid values (999) and calculate the average
filtered_data = data[data['ATMP'] != 999]
average_atmp = filtered_data['ATMP'].mean()

# Replace invalid values (999) and NaN with the average
data['ATMP'] = data['ATMP'].replace(999, average_atmp).fillna(average_atmp)
print("Invalid ATMP values have been replaced with the average.")

# Fill in invalid data for WVHT
# Filter the data to exclude invalid values (e.g., 99.9 if that's considered invalid) and calculate the average
filtered_data = data[data['WVHT'] != 99]
average_wvht = filtered_data['WVHT'].mean()

# Replace invalid values (e.g., 99) and NaN with the average
data['WVHT'] = data['WVHT'].replace(99, average_wvht).fillna(average_wvht)
print("Invalid WVHT values have been replaced with the average.")

# Optional: Check for remaining NaN values
if data.isnull().sum().sum() > 0:
    print("Warning: There are still NaN values in the dataset.")
else:
    print("All invalid or missing values have been handled.")

Invalid WTMP values have been replaced with the average.
Invalid ATMP values have been replaced with the average.
Invalid WVHT values have been replaced with the average.
Warning: There are still NaN values in the dataset.

In [52]:
data

           #YY    MM    DD  ATMP       WTMP     WVHT
0       2020.0   1.0   1.0  26.7  28.100000  1.30000
1       2020.0   1.0   1.0  26.6  28.070833  1.28191
2       2020.0   1.0   1.0  26.9  28.070833  1.28191
3       2020.0   1.0   1.0  27.0  28.070833  1.28191
4       2020.0   1.0   1.0  27.0  28.070833  1.28191
...        ...   ...   ...   ...        ...      ...
206914  2023.0  12.0  31.0  26.5  28.070833  1.28191
206915  2023.0  12.0  31.0  26.5  28.070833  1.28191
206916  2023.0  12.0  31.0  26.6  28.070833  1.28191
206917  2023.0  12.0  31.0  26.5  28.070833  1.28191
206918  2023.0  12.0  31.0  26.4  28.070833  1.28191

[206919 rows x 6 columns]

Normalize data

In [37]:
# Select columns to normalize
columns_to_normalize = ['ATMP', 'WTMP', 'WVHT']
data_to_normalize = data[columns_to_normalize]

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
normalized_data = scaler.fit_transform(data_to_normalize)

# Replace original columns with normalized values
data_normalized = data.copy()
data_normalized[columns_to_normalize] = normalized_data

# Verify the normalization
print(data_normalized.head())

      #YY   MM   DD   hh    mm  WDIR  WSPD  GST      WVHT   DPD  ...    PRES  \
0     NaN  NaN  NaN  NaN   NaN   NaN   NaN  NaN       NaN   NaN  ...     NaN
1  2020.0  1.0  1.0  0.0   0.0  69.0   5.5  7.1  0.013131  14.3  ...  1014.4
2  2020.0  1.0  1.0  0.0  10.0  64.0   4.5  5.5  1.000000  99.0  ...  1014.4
3  2020.0  1.0  1.0  0.0  20.0  63.0   4.7  5.8  1.000000  99.0  ...  1014.5
4  2020.0  1.0  1.0  0.0  30.0  72.0   5.1  6.4  1.000000  99.0  ...  1014.6

       ATMP      WTMP   DEWP   VIS  TIDE  WDI  R WSP  D GST  WSP
0       NaN       NaN    NaN   NaN   NaN  NaN    NaN    NaN  NaN
1  0.005828  0.005123  999.0  99.0  99.0  NaN    NaN    NaN  NaN
2  0.005726  1.000000  999.0  99.0  99.0  NaN    NaN    NaN  NaN
3  0.006033  1.000000  999.0  99.0  99.0  NaN    NaN    NaN  NaN
4  0.006135  1.000000  999.0  99.0  99.0  NaN    NaN    NaN  NaN

[5 rows x 22 columns]

Select only Time directly related features

In [36]:
# 4. to CSV
output_file = "merged_TimeWVHT_data.csv"
data.to_csv(output_file, index=False)

data = pd.read_csv("merged_TimeWVHT_data.csv")