Data Processing

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler

In [2]:
# Load the dataset
data = pd.read_csv('merged_data.csv')

# Display the first few rows to inspect the structure
print(data.head())

# Show basic information about the dataset
print(data.info())

# Summarize numerical columns with descriptive statistics
print(data.describe())

# Check for missing or invalid values
print(data.isnull().sum())  # Count of NaN values in each column

      #YY   MM   DD   hh    mm  WDIR  WSPD  GST  WVHT   DPD  ...    PRES  \
0     NaN  NaN  NaN  NaN   NaN   NaN   NaN  NaN   NaN   NaN  ...     NaN
1  2020.0  1.0  1.0  0.0   0.0  69.0   5.5  7.1   1.3  14.3  ...  1014.4
2  2020.0  1.0  1.0  0.0  10.0  64.0   4.5  5.5  99.0  99.0  ...  1014.4
3  2020.0  1.0  1.0  0.0  20.0  63.0   4.7  5.8  99.0  99.0  ...  1014.5
4  2020.0  1.0  1.0  0.0  30.0  72.0   5.1  6.4  99.0  99.0  ...  1014.6

   ATMP   WTMP   DEWP   VIS  TIDE  WDI  R WSP  D GST  WSP
0   NaN    NaN    NaN   NaN   NaN  NaN    NaN    NaN  NaN
1  26.7   28.1  999.0  99.0  99.0  NaN    NaN    NaN  NaN
2  26.6  999.0  999.0  99.0  99.0  NaN    NaN    NaN  NaN
3  26.9  999.0  999.0  99.0  99.0  NaN    NaN    NaN  NaN
4  27.0  999.0  999.0  99.0  99.0  NaN    NaN    NaN  NaN

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206920 entries, 0 to 206919
Data columns (total 22 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   #YY     206916 non-null  float64
 1   MM      206916 non-null  float64
 2   DD      206916 non-null  float64
 3   hh      206916 non-null  float64
 4   mm      206916 non-null  float64
 5   WDIR    154341 non-null  float64
 6   WSPD    45894 non-null   float64
 7   GST     52451 non-null   float64
 8   WVHT    206916 non-null  float64
 9   DPD     206916 non-null  float64
 10  APD     206916 non-null  float64
 11  MWD     206916 non-null  float64
 12  PRES    206916 non-null  float64
 13  ATMP    206916 non-null  float64
 14  WTMP    206916 non-null  float64
 15  DEWP    206916 non-null  float64
 16  VIS     206916 non-null  float64
 17  TIDE    206916 non-null  float64
 18  WDI     50798 non-null   float64
 19  R WSP   50798 non-null   float64
 20  D GST   154465 non-null  float64
 21  WSP     103667 non-null  float64
dtypes: float64(22)
memory usage: 34.7 MB
None
                 #YY             MM             DD             hh  \
count  206916.000000  206916.000000  206916.000000  206916.000000
mean     2021.499178       6.534478      15.678628      11.500976
std         1.122631       3.459940       8.812301       6.927320
min      2020.000000       1.000000       1.000000       0.000000
25%      2020.000000       4.000000       8.000000       5.000000
50%      2022.000000       7.000000      16.000000      12.000000
75%      2023.000000      10.000000      23.000000      18.000000
max      2023.000000      12.000000      31.000000      23.000000

                  mm           WDIR          WSPD           GST  \
count  206916.000000  154341.000000  45894.000000  52451.000000
mean       24.948723     106.932617      4.728368      5.482786
std        17.078810      55.102609      1.957963      2.661299
min         0.000000       0.000000      0.400000      0.000000
25%        10.000000      73.000000      3.000000      3.400000
50%        20.000000      91.000000      4.800000      5.600000
75%        40.000000     127.000000      6.400000      7.700000
max        50.000000     360.000000      8.600000      9.900000

                WVHT            DPD  ...           PRES           ATMP  \
count  206916.000000  206916.000000  ...  206916.000000  206916.000000
mean       84.020394      85.265117  ...    1015.679733      79.764778
std        35.205545      32.367547  ...      90.536069     220.153344
min         0.000000       3.400000  ...    1004.500000      21.000000
25%        99.000000      99.000000  ...    1013.300000      26.000000
50%        99.000000      99.000000  ...    1014.900000      27.200000
75%        99.000000      99.000000  ...    1016.400000      28.400000
max        99.000000      99.000000  ...    9999.000000     999.000000

                WTMP      DEWP       VIS      TIDE           WDI  \
count  206916.000000  206916.0  206916.0  206916.0  50798.000000
mean      836.141455     999.0      99.0      99.0    105.631974
std       362.770002       0.0       0.0       0.0     52.636406
min        23.100000     999.0      99.0      99.0      0.000000
25%       999.000000     999.0      99.0      99.0     76.000000
50%       999.000000     999.0      99.0      99.0     88.000000
75%       999.000000     999.0      99.0      99.0    119.000000
max       999.000000     999.0      99.0      99.0    999.000000

              R WSP          D GST            WSP
count  50798.000000  154465.000000  103667.000000
mean       5.474962       6.916086       5.247688
std        2.739062       3.801762       2.192754
min        0.000000       0.000000       0.000000
25%        3.500000       4.700000       3.400000
50%        5.700000       7.000000       5.400000
75%        7.400000       8.900000       7.100000
max       99.000000      99.000000       9.900000

[8 rows x 22 columns]
#YY           4
MM            4
DD            4
hh            4
mm            4
WDIR      52579
WSPD     161026
GST      154469
WVHT          4
DPD           4
APD           4
MWD           4
PRES          4
ATMP          4
WTMP          4
DEWP          4
VIS           4
TIDE          4
WDI      156122
R WSP    156122
D GST     52455
WSP      103253
dtype: int64

In [3]:
columns_to_keep = ['#YY', 'MM', 'DD', 'ATMP', 'WTMP', 'WVHT']
data = data[columns_to_keep]
# Drop the first row from the DataFrame
data = data.iloc[1:].reset_index(drop=True)
# Display the DataFrame to verify
print(data.head())

      #YY   MM   DD  ATMP   WTMP  WVHT
0  2020.0  1.0  1.0  26.7   28.1   1.3
1  2020.0  1.0  1.0  26.6  999.0  99.0
2  2020.0  1.0  1.0  26.9  999.0  99.0
3  2020.0  1.0  1.0  27.0  999.0  99.0
4  2020.0  1.0  1.0  27.0  999.0  99.0

Fill NA and extreme value

In [4]:
def fill_invalid_values(data, column, invalid_values):
    # Combine '#YY', 'MM', 'DD' into a single date column
    data['date'] = pd.to_datetime(
        dict(year=data['#YY'], month=data['MM'], day=data['DD']),
        errors='coerce'
    )

    # Ensure there are no invalid or missing dates
    if data['date'].isnull().any():
        print("Warning: Some dates could not be parsed. Filling with nearby dates.")
        data['date'] = data['date'].fillna(method='ffill').fillna(method='bfill')

    # Replace invalid values (999, 99) with NaN for processing
    data[column] = data[column].replace(invalid_values, np.nan)

    # Group by 'date' to handle data at the daily level
    grouped = data.groupby('date')

    def process_group(group):
        # If all values in the group are NaN, return as-is (handled later by interpolation)
        if group[column].isnull().all():
            return group

        # Fill NaN within the day using the daily mean
        group[column] = group[column].fillna(group[column].mean())
        return group

    # Apply the processing function to each group
    data = grouped.apply(process_group).reset_index(drop=True)

    # Handle days where all values are NaN
    def interpolate_missing_days(data, column):
        # Calculate daily means, including NaN for fully missing days
        daily_mean = data.groupby('date')[column].mean()

        # Interpolate missing daily means linearly
        interpolated_mean = daily_mean.interpolate(method='linear', limit_direction='both')

        # Map interpolated daily means back to the original DataFrame
        data[column] = data['date'].map(interpolated_mean)
        return data

    # Interpolate missing days for completely missing data
    data = interpolate_missing_days(data, column)

    return data

In [5]:
# Replace invalid values for each column
data = fill_invalid_values(data, 'WTMP', invalid_values=[999, 99])
data = fill_invalid_values(data, 'ATMP', invalid_values=[999, 99])
data = fill_invalid_values(data, 'WVHT', invalid_values=[999, 99])
data

Warning: Some dates could not be parsed. Filling with nearby dates.
Warning: Some dates could not be parsed. Filling with nearby dates.

/var/folders/j6/gnlkxfsx0mz7c1ngs9mbs16m0000gn/T/ipykernel_70832/2395899682.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date'] = data['date'].fillna(method='ffill').fillna(method='bfill')
/var/folders/j6/gnlkxfsx0mz7c1ngs9mbs16m0000gn/T/ipykernel_70832/2395899682.py:29: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = grouped.apply(process_group).reset_index(drop=True)
/var/folders/j6/gnlkxfsx0mz7c1ngs9mbs16m0000gn/T/ipykernel_70832/2395899682.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date'] = data['date'].fillna(method='ffill').fillna(method='bfill')

Warning: Some dates could not be parsed. Filling with nearby dates.

/var/folders/j6/gnlkxfsx0mz7c1ngs9mbs16m0000gn/T/ipykernel_70832/2395899682.py:29: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = grouped.apply(process_group).reset_index(drop=True)
/var/folders/j6/gnlkxfsx0mz7c1ngs9mbs16m0000gn/T/ipykernel_70832/2395899682.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date'] = data['date'].fillna(method='ffill').fillna(method='bfill')
/var/folders/j6/gnlkxfsx0mz7c1ngs9mbs16m0000gn/T/ipykernel_70832/2395899682.py:29: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = grouped.apply(process_group).reset_index(drop=True)

           #YY    MM    DD       ATMP       WTMP      WVHT       date
0       2020.0   1.0   1.0  26.772222  28.212500  1.245833 2020-01-01
1       2020.0   1.0   1.0  26.772222  28.212500  1.245833 2020-01-01
2       2020.0   1.0   1.0  26.772222  28.212500  1.245833 2020-01-01
3       2020.0   1.0   1.0  26.772222  28.212500  1.245833 2020-01-01
4       2020.0   1.0   1.0  26.772222  28.212500  1.245833 2020-01-01
...        ...   ...   ...        ...        ...       ...        ...
206914  2023.0  12.0  31.0  25.808451  27.595833  1.254167 2023-12-31
206915  2023.0  12.0  31.0  25.808451  27.595833  1.254167 2023-12-31
206916  2023.0  12.0  31.0  25.808451  27.595833  1.254167 2023-12-31
206917  2023.0  12.0  31.0  25.808451  27.595833  1.254167 2023-12-31
206918  2023.0  12.0  31.0  25.808451  27.595833  1.254167 2023-12-31

[206919 rows x 7 columns]

In [8]:
#Check for nan 
print(data.isnull().sum())
data = data.dropna(subset=['#YY', 'MM', 'DD'])
print("After dropping NaN:")
print(data.isnull().sum())

#YY     3
MM      3
DD      3
ATMP    0
WTMP    0
WVHT    0
date    0
dtype: int64
After dropping NaN:
#YY     0
MM      0
DD      0
ATMP    0
WTMP    0
WVHT    0
date    0
dtype: int64

In [10]:
def keep_max_wvht_per_day(data):
    """
    Keep only the row with the maximum WVHT value for each day and drop the rest.

    Args:
        data (pd.DataFrame): Input dataset with '#YY', 'MM', 'DD', and 'WVHT' columns.

    Returns:
        pd.DataFrame: Dataset with only one row per day, corresponding to the maximum WVHT.
    """
    # Combine '#YY', 'MM', 'DD' into a single date column
    data['date'] = pd.to_datetime(
        dict(year=data['#YY'], month=data['MM'], day=data['DD']),
        errors='coerce'
    )

    # Ensure that the 'date' column was created successfully
    if data['date'].isnull().any():
        print("Warning: Some dates could not be parsed. Dropping invalid rows.")
        data = data.dropna(subset=['date'])

    # Group by 'date' and find the row with the maximum WVHT for each day
    max_wvht_data = (
        data.loc[data.groupby('date')['WVHT'].idxmax()]
        .reset_index(drop=True)
    )

    # Drop the temporary 'date' column if not needed
    max_wvht_data = max_wvht_data.drop(columns=['date'])

    return max_wvht_data

data = keep_max_wvht_per_day(data)
data

         #YY    MM    DD       ATMP       WTMP      WVHT
0     2020.0   1.0   1.0  26.772222  28.212500  1.245833
1     2020.0   1.0   2.0  27.189928  28.054167  1.108333
2     2020.0   1.0   3.0  26.284722  27.933333  1.212500
3     2020.0   1.0   4.0  26.873611  27.754167  1.291667
4     2020.0   1.0   5.0  25.072222  27.808333  1.233333
...      ...   ...   ...        ...        ...       ...
1448  2023.0  12.0  27.0  25.494118  27.762500  1.295833
1449  2023.0  12.0  28.0  25.529167  27.775000  1.337500
1450  2023.0  12.0  29.0  25.337324  27.816667  1.183333
1451  2023.0  12.0  30.0  25.756643  27.658333  1.091667
1452  2023.0  12.0  31.0  25.808451  27.595833  1.254167

[1453 rows x 6 columns]

In [11]:
data

         #YY    MM    DD       ATMP       WTMP      WVHT
0     2020.0   1.0   1.0  26.772222  28.212500  1.245833
1     2020.0   1.0   2.0  27.189928  28.054167  1.108333
2     2020.0   1.0   3.0  26.284722  27.933333  1.212500
3     2020.0   1.0   4.0  26.873611  27.754167  1.291667
4     2020.0   1.0   5.0  25.072222  27.808333  1.233333
...      ...   ...   ...        ...        ...       ...
1448  2023.0  12.0  27.0  25.494118  27.762500  1.295833
1449  2023.0  12.0  28.0  25.529167  27.775000  1.337500
1450  2023.0  12.0  29.0  25.337324  27.816667  1.183333
1451  2023.0  12.0  30.0  25.756643  27.658333  1.091667
1452  2023.0  12.0  31.0  25.808451  27.595833  1.254167

[1453 rows x 6 columns]

Normalize data

In [12]:
# Select columns to normalize
columns_to_normalize = ['ATMP', 'WTMP', 'WVHT']
data_to_normalize = data[columns_to_normalize]

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the data
normalized_data = scaler.fit_transform(data_to_normalize)

# Replace original columns with normalized values
data_normalized = data.copy()
data_normalized[columns_to_normalize] = normalized_data

# Verify the normalization
print(data_normalized.head())

      #YY   MM   DD      ATMP      WTMP      WVHT
0  2020.0  1.0  1.0  0.395523  0.521815  0.367322
1  2020.0  1.0  2.0  0.445842  0.488656  0.326781
2  2020.0  1.0  3.0  0.336797  0.463351  0.357494
3  2020.0  1.0  4.0  0.407737  0.425829  0.380835
4  2020.0  1.0  5.0  0.190735  0.437173  0.363636

Select only Time directly related features

In [13]:
# 4. to CSV
output_file = "merged_TimeWVHT_data.csv"
data.to_csv(output_file, index=False)

data = pd.read_csv("merged_TimeWVHT_data.csv")