In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../forecast.csv')
df.head()

,station_id,ds,yhat,yhat_lower,yhat_upper,WTMP_pred,WTMP_pred_lower,WTMP_pred_upper
0,WestTampa_42098,01-01,1.041900,0.547224,1.574802,19.506532,17.902206,21.164176
1,WestTampa_42098,01-02,0.983905,0.506234,1.483757,19.502684,17.866977,21.139855
2,WestTampa_42098,01-03,0.948234,0.468208,1.446222,19.484286,17.852471,21.177871
3,WestTampa_42098,01-04,0.974847,0.507987,1.409103,19.447999,17.763180,21.109441
4,WestTampa_42098,01-05,0.964135,0.445869,1.480834,19.447887,17.852697,21.112997